extends layout/_layout

block vars
  - title = "フロントエンド技術勉強会"

block contents
  .l-top-main
    nav.l-nav
      h1.nav-header ビズリーチ

    .promo
      h2.promo-word その就活で、満腹ですか？
      p.tagline ニクリーチはお腹を空かせた学生のためのスカウト型就活サイトです

  .l-top-about
     h2 企業と出会うには


