extends layout/_layout

block vars
  - title = "フロントエンド技術勉強会"

block contents
  .l-top-main
    .l-top-main-inner
      nav.l-nav.nav
        h1.nav-logo: a(href=""): img(src="/img/nikureach-logo-white_s.png")

        ul.nav-menu
          li.nav-item: a(href="#") 採用をご検討中の企業様へ
          li.nav-item: a(href="#") ログイン 
          li.nav-item: a(href="#") 会員登録

      .promo
        h2.promo-word その就活で、満腹ですか？
        p.tagline ニクリーチはお腹を空かせた学生のためのスカウト型就活サイトです

  .l-top-about
     h2 企業と出会うには


